In [3]:
import numpy as np
import pandas as pd

In [9]:
df=pd.read_csv("supply_chain.csv")

In [11]:
df

,Product type,SKU,Price,Availability,Number of products sold,Revenue generated,Customer demographics,Stock levels,Lead times,Order quantities,...,Location,Lead time,Production volumes,Manufacturing lead time,Manufacturing costs,Inspection results,Defect rates,Transportation modes,Routes,Costs
0,haircare,SKU0,69.808006,55,802,8661.996792,Non-binary,58,7,96,...,Mumbai,29,215,29,46.279879,Pending,0.226410,Road,Route B,187.752075
1,skincare,SKU1,14.843523,95,736,7460.900065,Female,53,30,37,...,Mumbai,23,517,30,33.616769,Pending,4.854068,Road,Route B,503.065579
2,haircare,SKU2,11.319683,34,8,9577.749626,Unknown,1,10,88,...,Mumbai,12,971,27,30.688019,Pending,4.580593,Air,Route C,141.920282
3,skincare,SKU3,61.163343,68,83,7766.836426,Non-binary,23,13,59,...,Kolkata,24,937,18,35.624741,Fail,4.746649,Rail,Route A,254.776159
4,skincare,SKU4,4.805496,26,871,2686.505152,Non-binary,5,3,56,...,Delhi,5,414,3,92.065161,Fail,3.145580,Air,Route A,923.440632
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,haircare,SKU95,77.903927,65,672,7386.363944,Unknown,15,14,26,...,Mumbai,18,450,26,58.890686,Pending,1.210882,Air,Route A,778.864241
96,cosmetics,SKU96,24.423131,29,324,7698.424766,Non-binary,67,2,32,...,Mumbai,28,648,28,17.803756,Pending,3.872048,Road,Route A,188.742141
97,haircare,SKU97,3.526111,56,62,4370.916580,Male,46,19,4,...,Mumbai,10,535,13,65.765156,Fail,3.376238,Road,Route A,540.132423
98,skincare,SKU98,19.754605,43,913,8525.952560,Female,53,1,27,...,Chennai,28,581,9,5.604691,Pending,2.908122,Rail,Route A,882.198864
99,haircare,SKU99,68.517833,17,627,9185.185829,Unknown,55,8,59,...,Chennai,29,921,2,38.072899,Fail,0.346027,Rail,Route B,210.743009

In [13]:
df.isnull().sum()

Product type               0
SKU                        0
Price                      0
Availability               0
Number of products sold    0
Revenue generated          0
Customer demographics      0
Stock levels               0
Lead times                 0
Order quantities           0
Shipping times             0
Shipping carriers          0
Shipping costs             0
Supplier name              0
Location                   0
Lead time                  0
Production volumes         0
Manufacturing lead time    0
Manufacturing costs        0
Inspection results         0
Defect rates               0
Transportation modes       0
Routes                     0
Costs                      0
dtype: int64

In [15]:
df.shape

(100, 24)

In [17]:
df.head(3)

,Product type,SKU,Price,Availability,Number of products sold,Revenue generated,Customer demographics,Stock levels,Lead times,Order quantities,...,Location,Lead time,Production volumes,Manufacturing lead time,Manufacturing costs,Inspection results,Defect rates,Transportation modes,Routes,Costs
0,haircare,SKU0,69.808006,55,802,8661.996792,Non-binary,58,7,96,...,Mumbai,29,215,29,46.279879,Pending,0.226410,Road,Route B,187.752075
1,skincare,SKU1,14.843523,95,736,7460.900065,Female,53,30,37,...,Mumbai,23,517,30,33.616769,Pending,4.854068,Road,Route B,503.065579
2,haircare,SKU2,11.319683,34,8,9577.749626,Unknown,1,10,88,...,Mumbai,12,971,27,30.688019,Pending,4.580593,Air,Route C,141.920282

In [20]:
#(1)label encoding=>
from sklearn.preprocessing import LabelEncoder

In [22]:
lb=LabelEncoder()

In [27]:
df['Product type']=lb.fit_transform(df['Product type'])

In [29]:
df

,Product type,SKU,Price,Availability,Number of products sold,Revenue generated,Customer demographics,Stock levels,Lead times,Order quantities,...,Location,Lead time,Production volumes,Manufacturing lead time,Manufacturing costs,Inspection results,Defect rates,Transportation modes,Routes,Costs
0,1,SKU0,69.808006,55,802,8661.996792,Non-binary,58,7,96,...,Mumbai,29,215,29,46.279879,Pending,0.226410,Road,Route B,187.752075
1,2,SKU1,14.843523,95,736,7460.900065,Female,53,30,37,...,Mumbai,23,517,30,33.616769,Pending,4.854068,Road,Route B,503.065579
2,1,SKU2,11.319683,34,8,9577.749626,Unknown,1,10,88,...,Mumbai,12,971,27,30.688019,Pending,4.580593,Air,Route C,141.920282
3,2,SKU3,61.163343,68,83,7766.836426,Non-binary,23,13,59,...,Kolkata,24,937,18,35.624741,Fail,4.746649,Rail,Route A,254.776159
4,2,SKU4,4.805496,26,871,2686.505152,Non-binary,5,3,56,...,Delhi,5,414,3,92.065161,Fail,3.145580,Air,Route A,923.440632
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,1,SKU95,77.903927,65,672,7386.363944,Unknown,15,14,26,...,Mumbai,18,450,26,58.890686,Pending,1.210882,Air,Route A,778.864241
96,0,SKU96,24.423131,29,324,7698.424766,Non-binary,67,2,32,...,Mumbai,28,648,28,17.803756,Pending,3.872048,Road,Route A,188.742141
97,1,SKU97,3.526111,56,62,4370.916580,Male,46,19,4,...,Mumbai,10,535,13,65.765156,Fail,3.376238,Road,Route A,540.132423
98,2,SKU98,19.754605,43,913,8525.952560,Female,53,1,27,...,Chennai,28,581,9,5.604691,Pending,2.908122,Rail,Route A,882.198864
99,1,SKU99,68.517833,17,627,9185.185829,Unknown,55,8,59,...,Chennai,29,921,2,38.072899,Fail,0.346027,Rail,Route B,210.743009

In [33]:
df["SKU"]=lb.fit_transform(df["SKU"])
df["Customer demographics"]=lb.fit_transform(df["Customer demographics"])
df["Location"]=lb.fit_transform(df["Location"])

In [35]:
df

,Product type,SKU,Price,Availability,Number of products sold,Revenue generated,Customer demographics,Stock levels,Lead times,Order quantities,...,Location,Lead time,Production volumes,Manufacturing lead time,Manufacturing costs,Inspection results,Defect rates,Transportation modes,Routes,Costs
0,1,0,69.808006,55,802,8661.996792,2,58,7,96,...,4,29,215,29,46.279879,Pending,0.226410,Road,Route B,187.752075
1,2,1,14.843523,95,736,7460.900065,0,53,30,37,...,4,23,517,30,33.616769,Pending,4.854068,Road,Route B,503.065579
2,1,12,11.319683,34,8,9577.749626,3,1,10,88,...,4,12,971,27,30.688019,Pending,4.580593,Air,Route C,141.920282
3,2,23,61.163343,68,83,7766.836426,2,23,13,59,...,3,24,937,18,35.624741,Fail,4.746649,Rail,Route A,254.776159
4,2,34,4.805496,26,871,2686.505152,2,5,3,56,...,2,5,414,3,92.065161,Fail,3.145580,Air,Route A,923.440632
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,1,95,77.903927,65,672,7386.363944,3,15,14,26,...,4,18,450,26,58.890686,Pending,1.210882,Air,Route A,778.864241
96,0,96,24.423131,29,324,7698.424766,2,67,2,32,...,4,28,648,28,17.803756,Pending,3.872048,Road,Route A,188.742141
97,1,97,3.526111,56,62,4370.916580,1,46,19,4,...,4,10,535,13,65.765156,Fail,3.376238,Road,Route A,540.132423
98,2,98,19.754605,43,913,8525.952560,0,53,1,27,...,1,28,581,9,5.604691,Pending,2.908122,Rail,Route A,882.198864
99,1,99,68.517833,17,627,9185.185829,3,55,8,59,...,1,29,921,2,38.072899,Fail,0.346027,Rail,Route B,210.743009

In [37]:
df['Inspection results']=lb.fit_transform(df['Inspection results'])
df['Transportation modes']=lb.fit_transform(df['Transportation modes'])
df['Routes']=lb.fit_transform(df['Routes'])

In [39]:
df

,Product type,SKU,Price,Availability,Number of products sold,Revenue generated,Customer demographics,Stock levels,Lead times,Order quantities,...,Location,Lead time,Production volumes,Manufacturing lead time,Manufacturing costs,Inspection results,Defect rates,Transportation modes,Routes,Costs
0,1,0,69.808006,55,802,8661.996792,2,58,7,96,...,4,29,215,29,46.279879,2,0.226410,2,1,187.752075
1,2,1,14.843523,95,736,7460.900065,0,53,30,37,...,4,23,517,30,33.616769,2,4.854068,2,1,503.065579
2,1,12,11.319683,34,8,9577.749626,3,1,10,88,...,4,12,971,27,30.688019,2,4.580593,0,2,141.920282
3,2,23,61.163343,68,83,7766.836426,2,23,13,59,...,3,24,937,18,35.624741,0,4.746649,1,0,254.776159
4,2,34,4.805496,26,871,2686.505152,2,5,3,56,...,2,5,414,3,92.065161,0,3.145580,0,0,923.440632
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,1,95,77.903927,65,672,7386.363944,3,15,14,26,...,4,18,450,26,58.890686,2,1.210882,0,0,778.864241
96,0,96,24.423131,29,324,7698.424766,2,67,2,32,...,4,28,648,28,17.803756,2,3.872048,2,0,188.742141
97,1,97,3.526111,56,62,4370.916580,1,46,19,4,...,4,10,535,13,65.765156,0,3.376238,2,0,540.132423
98,2,98,19.754605,43,913,8525.952560,0,53,1,27,...,1,28,581,9,5.604691,2,2.908122,1,0,882.198864
99,1,99,68.517833,17,627,9185.185829,3,55,8,59,...,1,29,921,2,38.072899,0,0.346027,1,1,210.743009

In [73]:
(4)get_dummies=>

In [78]:
a=pd.get_dummies(df,columns=['Product type','SKU','Customer demographics','Shipping carriers',
                             'Supplier name','Location','Inspection results',
                             'Transportation modes','Routes'],drop_first=True)

In [82]:
a=a.dropna()

In [84]:
a.head(2)

,Price,Availability,Number of products sold,Revenue generated,Stock levels,Lead times,Order quantities,Shipping times,Shipping costs,Lead time,...,Location_Delhi,Location_Kolkata,Location_Mumbai,Inspection results_Pass,Inspection results_Pending,Transportation modes_Rail,Transportation modes_Road,Transportation modes_Sea,Routes_Route B,Routes_Route C
0,69.808006,55,802,8661.996792,58,7,96,4,2.956572,29,...,False,False,True,False,True,False,True,False,True,False
1,14.843523,95,736,7460.900065,53,30,37,2,9.716575,23,...,False,False,True,False,True,False,True,False,True,False

In [86]:
a=a.astype(int)
a

,Price,Availability,Number of products sold,Revenue generated,Stock levels,Lead times,Order quantities,Shipping times,Shipping costs,Lead time,...,Location_Delhi,Location_Kolkata,Location_Mumbai,Inspection results_Pass,Inspection results_Pending,Transportation modes_Rail,Transportation modes_Road,Transportation modes_Sea,Routes_Route B,Routes_Route C
0,69,55,802,8661,58,7,96,4,2,29,...,0,0,1,0,1,0,1,0,1,0
1,14,95,736,7460,53,30,37,2,9,23,...,0,0,1,0,1,0,1,0,1,0
2,11,34,8,9577,1,10,88,2,8,12,...,0,0,1,0,1,0,0,0,0,1
3,61,68,83,7766,23,13,59,6,1,24,...,0,1,0,0,0,1,0,0,0,0
4,4,26,871,2686,5,3,56,8,3,5,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,77,65,672,7386,15,14,26,9,8,18,...,0,0,1,0,1,0,0,0,0,0
96,24,29,324,7698,67,2,32,3,5,28,...,0,0,1,0,1,0,1,0,0,0
97,3,56,62,4370,46,19,4,9,7,10,...,0,0,1,0,0,0,1,0,0,0
98,19,43,913,8525,53,1,27,7,1,28,...,0,0,0,0,1,1,0,0,0,0
99,68,17,627,9185,55,8,59,6,1,29,...,0,0,0,0,0,1,0,0,1,0

In [88]:
df=a.copy()

In [90]:
x=df.drop(columns=['Routes_Route C']) 
y=df['Routes_Route C']

In [92]:
df

,Price,Availability,Number of products sold,Revenue generated,Stock levels,Lead times,Order quantities,Shipping times,Shipping costs,Lead time,...,Location_Delhi,Location_Kolkata,Location_Mumbai,Inspection results_Pass,Inspection results_Pending,Transportation modes_Rail,Transportation modes_Road,Transportation modes_Sea,Routes_Route B,Routes_Route C
0,69,55,802,8661,58,7,96,4,2,29,...,0,0,1,0,1,0,1,0,1,0
1,14,95,736,7460,53,30,37,2,9,23,...,0,0,1,0,1,0,1,0,1,0
2,11,34,8,9577,1,10,88,2,8,12,...,0,0,1,0,1,0,0,0,0,1
3,61,68,83,7766,23,13,59,6,1,24,...,0,1,0,0,0,1,0,0,0,0
4,4,26,871,2686,5,3,56,8,3,5,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,77,65,672,7386,15,14,26,9,8,18,...,0,0,1,0,1,0,0,0,0,0
96,24,29,324,7698,67,2,32,3,5,28,...,0,0,1,0,1,0,1,0,0,0
97,3,56,62,4370,46,19,4,9,7,10,...,0,0,1,0,0,0,1,0,0,0
98,19,43,913,8525,53,1,27,7,1,28,...,0,0,0,0,1,1,0,0,0,0
99,68,17,627,9185,55,8,59,6,1,29,...,0,0,0,0,0,1,0,0,1,0

In [94]:
from sklearn.model_selection import train_test_split

In [96]:
x_train,x_test,y_train,y_test=train_test_split(x,
                                               y,
                                               test_size=0.2,
                                               random_state=42)

In [98]:
np.round(x_train.describe(),1)

,Price,Availability,Number of products sold,Revenue generated,Stock levels,Lead times,Order quantities,Shipping times,Shipping costs,Lead time,...,Location_Chennai,Location_Delhi,Location_Kolkata,Location_Mumbai,Inspection results_Pass,Inspection results_Pending,Transportation modes_Rail,Transportation modes_Road,Transportation modes_Sea,Routes_Route B
count,80.0,80.0,80.0,80.0,80.0,80.0,80.0,80.0,80.0,80.0,...,80.0,80.0,80.0,80.0,80.0,80.0,80.0,80.0,80.0,80.0
mean,49.9,49.9,453.2,5821.6,47.5,15.9,47.5,5.8,5.2,17.2,...,0.2,0.2,0.2,0.3,0.2,0.4,0.3,0.3,0.2,0.4
std,32.4,31.5,302.0,2704.4,30.8,8.7,26.9,2.8,2.6,8.6,...,0.4,0.4,0.4,0.4,0.4,0.5,0.4,0.4,0.4,0.5
min,1.0,1.0,8.0,1061.0,0.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25%,18.5,21.2,161.0,2938.5,21.0,8.0,25.5,3.0,3.0,10.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
50%,52.0,49.0,410.0,6093.5,46.5,16.5,51.5,6.0,5.0,18.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
75%,79.0,78.8,701.8,8214.5,73.0,23.2,69.5,8.0,7.2,25.0,...,0.0,0.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0
max,99.0,100.0,987.0,9866.0,100.0,30.0,94.0,10.0,9.0,30.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [100]:
from sklearn.preprocessing import StandardScaler

In [102]:
sc=StandardScaler()

In [104]:
x_train_sc=sc.fit_transform(x_train)

In [106]:
x_train_new=pd.DataFrame(x_train_sc , columns = x_train.columns)

In [108]:
np.round(x_train_new.describe() , 1)

,Price,Availability,Number of products sold,Revenue generated,Stock levels,Lead times,Order quantities,Shipping times,Shipping costs,Lead time,...,Location_Chennai,Location_Delhi,Location_Kolkata,Location_Mumbai,Inspection results_Pass,Inspection results_Pending,Transportation modes_Rail,Transportation modes_Road,Transportation modes_Sea,Routes_Route B
count,80.0,80.0,80.0,80.0,80.0,80.0,80.0,80.0,80.0,80.0,...,80.0,80.0,80.0,80.0,80.0,80.0,80.0,80.0,80.0,80.0
mean,0.0,-0.0,0.0,0.0,-0.0,0.0,0.0,-0.0,-0.0,0.0,...,-0.0,0.0,-0.0,0.0,0.0,-0.0,-0.0,0.0,0.0,0.0
std,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
min,-1.5,-1.6,-1.5,-1.8,-1.6,-1.7,-1.7,-1.7,-1.6,-1.9,...,-0.5,-0.4,-0.5,-0.6,-0.5,-0.9,-0.6,-0.6,-0.5,-0.8
25%,-1.0,-0.9,-1.0,-1.1,-0.9,-0.9,-0.8,-1.0,-0.8,-0.8,...,-0.5,-0.4,-0.5,-0.6,-0.5,-0.9,-0.6,-0.6,-0.5,-0.8
50%,0.1,-0.0,-0.1,0.1,-0.0,0.1,0.2,0.1,-0.1,0.1,...,-0.5,-0.4,-0.5,-0.6,-0.5,-0.9,-0.6,-0.6,-0.5,-0.8
75%,0.9,0.9,0.8,0.9,0.8,0.9,0.8,0.8,0.8,0.9,...,-0.5,-0.4,-0.5,1.7,-0.5,1.1,1.6,1.7,-0.5,1.3
max,1.5,1.6,1.8,1.5,1.7,1.6,1.7,1.5,1.4,1.5,...,2.1,2.4,1.9,1.7,1.9,1.1,1.6,1.7,2.2,1.3

In [110]:
np.round(x_train.describe(),1)

,Price,Availability,Number of products sold,Revenue generated,Stock levels,Lead times,Order quantities,Shipping times,Shipping costs,Lead time,...,Location_Chennai,Location_Delhi,Location_Kolkata,Location_Mumbai,Inspection results_Pass,Inspection results_Pending,Transportation modes_Rail,Transportation modes_Road,Transportation modes_Sea,Routes_Route B
count,80.0,80.0,80.0,80.0,80.0,80.0,80.0,80.0,80.0,80.0,...,80.0,80.0,80.0,80.0,80.0,80.0,80.0,80.0,80.0,80.0
mean,49.9,49.9,453.2,5821.6,47.5,15.9,47.5,5.8,5.2,17.2,...,0.2,0.2,0.2,0.3,0.2,0.4,0.3,0.3,0.2,0.4
std,32.4,31.5,302.0,2704.4,30.8,8.7,26.9,2.8,2.6,8.6,...,0.4,0.4,0.4,0.4,0.4,0.5,0.4,0.4,0.4,0.5
min,1.0,1.0,8.0,1061.0,0.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25%,18.5,21.2,161.0,2938.5,21.0,8.0,25.5,3.0,3.0,10.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
50%,52.0,49.0,410.0,6093.5,46.5,16.5,51.5,6.0,5.0,18.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
75%,79.0,78.8,701.8,8214.5,73.0,23.2,69.5,8.0,7.2,25.0,...,0.0,0.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0
max,99.0,100.0,987.0,9866.0,100.0,30.0,94.0,10.0,9.0,30.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [112]:
from sklearn.preprocessing import MinMaxScaler

In [114]:
mn=MinMaxScaler()

In [116]:
x_train_mn=mn.fit_transform(x_train)

In [118]:
x_train_new=pd.DataFrame(x_train_mn,columns=x_train.columns)

In [120]:
np.round(x_train_new.describe(),2)

,Price,Availability,Number of products sold,Revenue generated,Stock levels,Lead times,Order quantities,Shipping times,Shipping costs,Lead time,...,Location_Chennai,Location_Delhi,Location_Kolkata,Location_Mumbai,Inspection results_Pass,Inspection results_Pending,Transportation modes_Rail,Transportation modes_Road,Transportation modes_Sea,Routes_Route B
count,80.00,80.00,80.00,80.00,80.00,80.00,80.00,80.00,80.00,80.00,...,80.00,80.00,80.00,80.00,80.00,80.00,80.00,80.00,80.00,80.00
mean,0.50,0.49,0.45,0.54,0.48,0.51,0.50,0.53,0.52,0.56,...,0.19,0.15,0.22,0.26,0.22,0.44,0.28,0.26,0.18,0.36
std,0.33,0.32,0.31,0.31,0.31,0.30,0.29,0.31,0.33,0.30,...,0.39,0.36,0.42,0.44,0.42,0.50,0.45,0.44,0.38,0.48
min,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
25%,0.18,0.20,0.16,0.21,0.21,0.24,0.26,0.22,0.25,0.31,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
50%,0.52,0.48,0.41,0.57,0.46,0.53,0.54,0.56,0.50,0.59,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
75%,0.80,0.79,0.71,0.81,0.73,0.77,0.74,0.78,0.78,0.83,...,0.00,0.00,0.00,1.00,0.00,1.00,1.00,1.00,0.00,1.00
max,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,...,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00